h1{
    text-align:center;
}
span{
    background-color:red;
}
p{
    background-color:black;
    color:white;
}
.no{
    display:flex;
    justify-content:end;
}
h2{
    text-align: center;
}
#pic{
    min-width:100px;
    min-height:100px;
    max-width:150px;
    max-height:150px;
    display:block;
    margin-right:auto;
    margin-left:auto;
}